<script setup>
import SearchVue from "@/components/Search.vue";
import BarVue from "@/components/Bar.vue";
</script>
<template>
  <div class="stop-sign">
    <BarVue>
      <SearchVue></SearchVue>
    </BarVue>
  </div>
</template>

<style lang="scss" scoped>
@import "~@/styles/vendor";
</style>
