<script setup async>
import { ref, onMounted } from "vue";
import { useRouter, useRoute } from "vue-router";
import SearchVue from "@/components/Search.vue";
import BarVue from "@/components/Bar.vue";
import BusListItem from "@/components/BusListItem.vue";

import { ApiBus } from "@/api";

const router = useRouter();
const route = useRoute();

const list = ref([]);
const viewList = ref([]);

const keyword = ref("");

const loadList = async () => {
  if (route.name !== "bus") {
    return;
  }
  viewList.value = [];
  const { city } = route.query;
  try {
    list.value = await ApiBus.getBusList({
      City: city,
      $select: "RouteID,RouteName,DepartureStopNameZh,DestinationStopNameZh",
    });
    filterViewList();
  } catch (e) {
    console.error(e);
  }
};

const filterViewList = (value) => {
  const sort = (a, b) => {
    return a.RouteName.Zh_tw > b.RouteName.Zh_tw ? 1 : -1;
  };

  if (!value) {
    viewList.value = list.value.slice().sort(sort);
    return;
  }

  viewList.value = list.value
    .filter((item) => {
      return (
        item.RouteName.Zh_tw.indexOf(value) > -1 ||
        item.DepartureStopNameZh.indexOf(value) > -1 ||
        item.DestinationStopNameZh.indexOf(value) > -1
      );
    })
    .sort(sort);
};

const onInputKeyword = (e) => {
  const el = e.target;

  filterViewList(el.value);
};

const viewInfo = (item) => {
  router.push({
    name: "bus-info",
    query: {
      ...route.query,
      busId: item.RouteName.Zh_tw,
    },
  });
};

onMounted(() => {
  loadList();
});
</script>
<template>
  <div class="bus">
    <BarVue>
      <SearchVue @search="loadList"></SearchVue>
    </BarVue>
    <div v-if="route.name === 'bus'" class="bus__list">
      <input
        class="keyword-input background"
        type="text"
        v-model.lazy="keyword"
        @input="onInputKeyword"
        placeholder="請輸入關鍵字"
      />
      <BusListItem :list="viewList" @click-item="viewInfo"></BusListItem>
    </div>

    <router-view v-else />
  </div>
</template>

<style lang="scss" scoped>
@import "~@/styles/vendor";
.bus {
  .keyword-input {
    width: 100%;
    font-size: $font-lg;
    border-radius: 0;
    height: 60px;
  }
  &__list {
    background-color: $color-background-light;
  }
}
</style>
