<script setup async>
import { ref, onMounted } from "vue";
import { useRoute } from "vue-router";
import InfoHeaderVue from "@/components/BusDynamic/InfoHeader.vue";
import BusDynamicVue from "@/components/BusDynamic/BusDynamic.vue";
import CountdownBarVue from "@/components/CountdownBar.vue";
import { useBusDynamicData } from "@/components/BusDynamic/useBusDynamic";

import { ApiBus } from "@/api";

const route = useRoute();
const city = route.query.city;
const busId = route.query.busId;
const busStopList = ref([]);
const busDynamicList = ref([]);

const {
  busDynamicData,
  initBusDynamicData,
  setBusDynamicData,
  busInfo,
  busView,
  initBusInfo,
  initBusCarList,
} = useBusDynamicData();

const init = async () => {
  initBusDynamicData();
  const data = await ApiBus.getBusInfo({
    City: city,
    RouteName: busId,
    $filter: `RouteName/Zh_tw eq '${busId}'`,
    // $orderby: `StopID desc`,
  });
  if (data.length) {
    initBusInfo(data[0]);
  }

  busStopList.value = await ApiBus.getBusStopList({
    City: city,
    RouteName: busId,
    $select: `Stops,Direction,RouteID,SubRouteID`,
    $filter: `RouteName/Zh_tw eq '${busId}'`,
  });

  busDynamicList.value = await ApiBus.getBusDynamicList({
    City: city,
    RouteName: busId,
    $filter: `RouteName/Zh_tw eq '${busId}'`,
    $orderby: `StopSequence desc`,
  });

  const carData = await ApiBus.getBusCarDynamicList({
    City: city,
    $filter: `RouteName/Zh_tw eq '${busId}'`,
    RouteName: busId,
  });
  if (carData.length) {
    initBusCarList(carData);
  }

  setBusDynamicData(busDynamicList.value, busStopList.value);
};

onMounted(() => {
  init();
});
</script>
<template>
  <div class="bus-info">
    <InfoHeaderVue :info="busView">
      <CountdownBarVue @finish="init"></CountdownBarVue>
    </InfoHeaderVue>
    <div class="g-layout-max">
      <BusDynamicVue
        :dynamicData="busDynamicData"
        :busInfo="busInfo"
      ></BusDynamicVue>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import "~@/styles/vendor";
</style>
