@import './vendor';

@mixin rwd($size, $range: min, $offset: 0) {
    @if $size == "tablet" {
        @media screen and (#{$range}-width: ($screen-small - $offset)) {
            @content
        }
    };
    @if $size == "pc" {
        @media screen and (#{$range}-width: ($screen-medium - $offset)) {
            @content
        }
    };
    @if $size == "pcXL" {
        @media screen and (#{$range}-width: ($screen-large - $offset)) {
            @content
        }
    };
}