$color-primary: #416ba9ff;
$color-assist: #1c355eff;
$color-assist-light: #65b2e8ff;

$color-success: #3eaf7c;
$color-danger: #d1252bff;
$color-info: #76777aff;

$color-light: #ffffff;


$color-primary-light-9: mix(white, $color-primary, 90%);
$color-primary-light-8: mix(white, $color-primary, 80%);
$color-primary-light-7: mix(white, $color-primary, 70%);
$color-primary-light-6: mix(white, $color-primary, 60%);
$color-primary-light-5: mix(white, $color-primary, 50%);
$color-primary-light-4: mix(white, $color-primary, 40%);
$color-primary-light-3: mix(white, $color-primary, 30%);
$color-primary-light-2: mix(white, $color-primary, 20%);
$color-primary-light-1: mix(white, $color-primary, 10%);


$color-font-primary: #303133;
$color-font-regular: #606266;
$color-font-secondary: #909399;
$color-font-placeholder: #C0C4CC;

$font-sm: 14px;
$font-base: 16px;
$font-lg: 20px;
$font-extra-lg: 24px;

$color-background-base: #DCDFE6;
$color-background-light: #ffffff;


$screen-small: 768px;
$screen-medium: 1024px;
$screen-large: 1200px;
