@import "https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css";
@import 'vendor';


html,body {
    height: 100%;
}

body {
    color: $color-font-primary;
    font-size: $font-base;
}

select,
input[type=text] {
    height: 40px;
    border-radius: 4px;
    outline: 0;
    border: 1px solid transparent;
    background-color: $color-background-light;
    padding: 8px 16px;
    box-sizing: border-box;
    min-width: 200px;
    caret-color: $color-primary;
    color: $color-assist;
    transition: 0.4s;
    
    &:focus {
        border: 1px solid $color-primary;
    }
    &.background {
        caret-color: white;
        color: white;
        border: 1px solid transparent;
        background-color: $color-primary-light-4;
        &::placeholder {
            color: white;
        }
        &:focus {
            background-color: $color-primary-light-2;
        }
    }
}

.form-item.select {
    position: relative;
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 8px (16px + 10px + 12px) 8px 16px;
    }
    &::after {
        content: '';
        width: 20px;
        height: 20px;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(https://api.iconify.design/mdi:menu-down-outline.svg);
        pointer-events: none;
        opacity: 0.4;
    }
}

.icon-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 8px;
    box-sizing: border-box;
    cursor: pointer;
    background: white;
    border: 1px solid transparent;
    color: $color-primary;
    transition: 0.2s;
    &:hover {
        border: 1px solid $color-primary;

    }
    &:active {
        transform: scale(0.9);
    }
}

.radio-btn {
    min-width: 80px;
    text-align: center;
    padding: 8px 16px;
    margin-right: 16px;
    box-sizing: border-box;
    background-color: mix(white, $color-assist-light, 70%);
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    &.is-active {
        background-color: $color-assist-light;
        color: white;
    }
}

.g-layout-max {
    max-width: 960px;
    margin: auto;
    background-color: $color-background-light;
}