<script setup>
import SearchVue from "@/components/Search.vue";
import BarVue from "@/components/Bar.vue";
</script>

<template>
  <div class="home">
    <BarVue> </BarVue>
    <div class="home__main">
      <SearchVue></SearchVue>
    </div>
  </div>
</template>

<style lang="scss">
@import "~@/styles/vendor";

.home {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $color-primary-light-9;
  .g-search {
    flex-grow: 1;
  }
  .g-bar__menu-switch {
    display: none;
  }
  &__main {
    padding: 16px;
  }
}
</style>
