<template>
  <div class="g-bar">
    <h1 class="logo" @click="backToHome">Taiwan Bus</h1>
    <IconMapSearchOutline
      @click="triggerMenu"
      class="g-bar__menu-switch icon-btn"
    ></IconMapSearchOutline>
    <div :class="['g-bar__slot', { 'g-bar__slot--show': showMenu }]">
      <slot></slot>
    </div>
  </div>
</template>

<script>
import { defineComponent, ref } from "vue";
import router from "../router";
import IconMapSearchOutline from "~icons/mdi/map-search-outline";

export default defineComponent({
  name: "g-bar",
  components: {
    IconMapSearchOutline,
  },
  setup() {
    const backToHome = () => {
      router.push("/");
    };

    const showMenu = ref(innerWidth > 768 ? true : false);
    const triggerMenu = () => {
      showMenu.value = !showMenu.value;
    };
    return {
      backToHome,
      triggerMenu,
      showMenu,
    };
  },
});
</script>

<style lang="scss">
@import "~@/styles/vendor";
@import "~@/styles/mixins-rwd";

.g-bar {
  display: flex;
  align-items: center;
  background-color: $color-primary-light-9;
  padding: 8px 16px;
  position: sticky;
  top: 0;
  z-index: 2;
  .logo {
    font-size: $font-extra-lg;
    font-weight: bold;
    color: $color-primary;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
  }
  &__menu-switch {
    margin-left: auto;
    @include rwd("tablet") {
      display: none;
    }
    background-color: $color-primary-light-3;
    color: white;
    border: 0;
  }
  &__slot {
    flex-grow: 1;
    padding-left: 16px;
    display: none;
    &--show {
      display: block;
    }
    @include rwd("tablet", max, -1) {
      background-color: $color-primary-light-9;
      position: absolute;
      left: 0;
      top: 100%;
      right: 0;
      padding: 16px;
      border-top: 1px solid $color-background-base;
    }
    @include rwd("tablet") {
      display: block;
    }
  }
}
</style>
