<template>
  <ul class="bus-list">
    <li
      class="bus-list-item"
      v-for="item of list"
      :key="item.RouteID"
      @click="() => clickItem(item)"
    >
      <h3 class="bus-list-item__bus-name">{{ item.RouteName.Zh_tw }}</h3>
      <div class="bus-list-item__bus-stop">
        <span class="bus-list-item__bus-stop__departure">{{
          item.DepartureStopNameZh
        }}</span>
        -
        <span class="bus-list-item__bus-stop__destination">{{
          item.DestinationStopNameZh
        }}</span>
      </div>
    </li>
  </ul>
</template>

<script>
import { defineComponent } from "vue";
export default defineComponent({
  name: "bus-list-item",
  props: {
    list: {
      type: Array,
      default: () => [],
    },
  },
  emits: ["click-item"],
  setup(props, { emit }) {
    const clickItem = (item) => {
      emit("click-item", item);
    };
    return {
      clickItem,
    };
  },
});
</script>

<style lang="scss">
@import "~@/styles/vendor";
.bus-list-item {
  display: flex;
  align-content: center;
  padding: 10px 16px;
  cursor: pointer;
  border-bottom: 2px solid $color-background-base;
  &:hover {
    background-color: $color-primary-light-9;
  }
  &__bus-name {
    font-size: $font-extra-lg;
    border: 1px solid $color-assist;
    border-radius: 4px;
    padding: 5px 12px 4px 12px;
    color: $color-primary;
  }
  &__bus-stop {
    display: flex;
    align-items: center;
    margin-left: 16px;
  }
}
</style>
