<template>
  <div :class="['countdown-bar', { 'is-run': isRun, 'is-round': round }]">
    <div
      class="countdown-bar__main"
      :style="{ animationDuration: `${time}s` }"
    ></div>
    <button class="countdown-bar__btn">{{ i }}s 後更新</button>
  </div>
</template>

<script>
import {
  defineComponent,
  ref,
  unref,
  toRef,
  onMounted,
  onBeforeUnmount,
} from "vue";
export default defineComponent({
  name: "countdown-bar",
  props: {
    timeMM: {
      type: Number,
      default: 30,
    },
    infinite: {
      type: Boolean,
      default: true,
    },
    round: {
      type: Boolean,
      default: true,
    },
  },
  emits: ["finish"],
  setup(props, { emit, expose }) {
    const isRun = ref(true);
    const timeMM = toRef(props, "timeMM");
    const i = ref(unref(timeMM));
    const infinite = toRef(props, "infinite");
    let oldDate = new Date().getTime();
    let timer = null;

    const init = () => {
      oldDate = new Date().getTime();
      isRun.value = false;
      timer = requestAnimationFrame(run);
    };
    const run = () => {
      isRun.value = true;
      const nowDate = new Date().getTime();
      const offset = nowDate - oldDate;
      const isFinish = offset > timeMM.value * 1000;

      if (isFinish) {
        emit("finish");
        cancelAnimationFrame(timer);
        i.value = timeMM.value;
        if (infinite.value) {
          init();
        }
        return;
      }
      i.value = timeMM.value - ~~(offset / 1000);
      timer = requestAnimationFrame(run);
    };

    expose({
      run,
      init,
    });

    onMounted(() => {
      timer = run();
    });
    onBeforeUnmount(() => {
      cancelAnimationFrame(timer);
    });

    return {
      i,
      time: timeMM.value,
      isRun,
    };
  },
});
</script>

<style lang="scss">
@import "~@/styles/vendor";

.countdown-bar {
  &.is-run {
    .countdown-bar__main {
      width: 100%;
      height: 16px;
      background-color: $color-primary-light-3;
      transform-origin: left;
      animation-name: runTimeLine;
      animation-timing-function: linear;
    }
  }
  &::after {
    content: "";
    background-color: $color-primary-light-9;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 16px;
    width: 100%;
    z-index: -1;
  }

  @keyframes runTimeLine {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }

  &__btn {
    position: absolute;
    right: 0;
    bottom: 0;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-size: 12px;
    cursor: pointer;
  }
}
</style>
