<template>
  <div class="g-search">
    <div class="g-search__main">
      <div class="city">
        <div class="flex">
          <div class="form-item select">
            <select v-model="city" :disabled="routeIndex === 'highway-bus'">
              <option
                :value="option.City"
                v-for="option of options"
                :key="option.City"
              >
                {{ option.CityName }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="flex page">
        <div>
          <label
            class="radio-item"
            v-for="route of routeNames"
            :key="route.name"
          >
            <input
              type="radio"
              :name="route.name"
              :value="route.name"
              v-model="routeIndex"
            />
            {{ route.label }}
          </label>
        </div>
      </div>
    </div>
    <IconMagnify @click="handlerSearch" class="icon-btn"></IconMagnify>
  </div>
</template>

<script>
import { defineComponent, ref } from "vue";
import { city as options } from "@/shared/city/city.js";
import IconMagnify from "~icons/mdi/magnify";
import { useRouter, useRoute } from "vue-router";

export default defineComponent({
  name: "g-search",
  components: {
    IconMagnify,
  },
  emits: ["search"],
  setup(props, { emit }) {
    const router = useRouter();
    const route = useRoute();

    const storeCity = route.query.city;
    const routeNames = [
      {
        label: "站牌資訊",
        name: "stop-sign",
      },
      {
        label: "公車資訊",
        name: "bus",
      },
      {
        label: "客運資訊",
        name: "highway-bus",
      },
    ];
    const routeName = routeNames.find((item) => route.name.includes(item.name));
    const city = ref(storeCity || "Taipei");
    const routeIndex = ref(routeName?.name || "stop-sign");

    const handlerSearch = async () => {
      await router.push({
        name: routeIndex.value,
        query: {
          city: routeIndex.value === "highway-bus" ? undefined : city.value,
        },
      });
      emit("search");
    };

    return {
      city,
      options,
      routeNames,
      routeIndex,
      handlerSearch,
    };
  },
});
</script>

<style lang="scss">
@import "~@/styles/vendor";
@import "~@/styles/mixins-rwd";

.g-search {
  width: 100%;
  display: flex;
  align-content: center;
  gap: 16px;
  .flex {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  .left {
    text-align: left;
  }
  .form-item {
    margin-bottom: 10px;
    select {
      min-width: 140px;
      width: 100%;
    }
    flex-grow: 1;
  }
  .city {
    width: 100%;
  }
  .page {
    flex-shrink: 0;
  }

  .radio-item {
    cursor: pointer;
    display: inline-block;
  }
  &__main {
    flex-grow: 1;
  }
}
</style>
