<template>
  <div class="bus-dynamic">
    <div class="bus-dynamic__direction">
      <button
        v-for="(value, key) of busView.direction"
        :key="key"
        :class="['radio-btn', { 'is-active': value.id === directionIndex }]"
        @click="() => setDirectionIndex(value.id)"
      >
        {{ value.label }}
      </button>
    </div>

    <ul class="bus-dynamic__list">
      <li class="bus-dynamic__list-item bus-dynamic__list-item__header">
        <div class="bus-dynamic__list-item__bus-status">預計到站</div>
        <h3 class="bus-dynamic__list-item__bus-title">站牌</h3>
      </li>
      <li
        class="bus-dynamic__list-item"
        v-for="item of dynamicData[directionIndex]"
        :key="item.StopID"
      >
        <component :is="getStopStatus(item)"></component>

        <h3 class="bus-dynamic__list-item__bus-title">
          <span class="block bus-dynamic__list-item__bus-title-zh">{{
            item.StopName.Zh_tw
          }}</span>
          <span class="block bus-dynamic__list-item__bus-title-en">{{
            item.StopName.En
          }}</span>
        </h3>
        <div class="bus-dynamic__other">
          <component :is="getCar(item.BusCars)"></component>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
import { defineComponent, computed, toRef, h } from "vue";
import { directionIndex, setDirectionIndex } from "./useBusDynamic";

export default defineComponent({
  name: "bus-dynamic",
  props: {
    dynamicData: {
      type: Object,
      default: () => ({}),
    },
    busInfo: {
      type: Object,
      default: () => ({}),
    },
  },
  setup(props) {
    const stopStatus = [
      {
        label: "正常",
        className: "normal",
      },
      {
        label: "尚未發車",
        className: "gray",
      },
      {
        label: "交管不停靠",
        className: "danger",
      },
      {
        label: "末班車已過",
        className: "gray",
      },
      {
        label: "今日未營運",
        className: "danger",
      },
    ];
    const busInfo = toRef(props, "busInfo");

    const busView = computed(() => {
      return {
        direction: {
          0: {
            id: "outbound",
            label: `往${busInfo.value.DestinationStopNameZh}`,
          },
          1: {
            id: "returnTrip",
            label: `往${busInfo.value.DepartureStopNameZh}`,
          },
        },
      };
    });

    const getCar = (BusCars) => {
      // console.log(BusCars); // A2EventType (Int32, optional): 進站離站 : [0:'離站',1:'進站'] ,
      if (!BusCars.length) {
        return null;
      }
      const status = ["離站", "進站"];
      const child = [];
      BusCars.forEach((car) => {
        child.push(
          h(
            "span",
            { className: ["bus-dynamic__car"] },
            car.PlateNumb + status[car.A2EventType]
          )
        );
        // }
      });
      return h("div", {}, child);
    };

    const getStopStatus = (data) => {
      let attrs = {
        className: ["bus-dynamic__list-item__bus-status"],
      };
      let value = "";

      const {
        NextBusTime,
        EstimateTime,
        StopStatus,
        IsLastBus,
        // PlateNumb,
        BusCars,
      } = data;
      const isOpenTime = StopStatus === 0;

      if (isOpenTime) {
        value = IsLastBus ? "末班車" : "";

        if (BusCars.length) {
          value += BusCars.some((item) => item.A2EventType)
            ? "進站中"
            : "離站中";
          attrs.className.push("success");
        } else {
          const mm = Math.ceil(EstimateTime / 60);
          value = mm + " 分";
        }
      } else if (NextBusTime) {
        value = new Date(NextBusTime).toTimeString().replace(/:00? .+/g, "");
      } else {
        const info = stopStatus[StopStatus];
        value = info.label;
        attrs.className.push(info.className);
      }
      return h(
        "div",
        {
          className: attrs.className.join(" "),
        },
        value
      );
    };

    return {
      busView,
      directionIndex,
      setDirectionIndex,
      getStopStatus,
      getCar,
    };
  },
});
</script>

<style lang="scss">
@import "~@/styles/vendor";

.bus-dynamic {
  border-top: 10px solid $color-background-base;

  .block {
    display: block;
  }
  .success {
    background-color: $color-success;
  }
  .danger {
    background-color: $color-danger;
  }
  &__direction {
    padding: 16px;
    padding-bottom: 20px;
    .radio-btn {
      font-size: $font-base;
    }
  }
  &__car {
    display: inline-block;
    border: 1px solid $color-danger;
    color: $color-danger;
    border-radius: 4px;
    margin-bottom: 4px;
    margin-right: 4px;
    padding: 0px 4px;
  }
  &__list {
    &-item {
      display: flex;
      align-items: flex-start;
      padding: 20px 16px;
      position: relative;
      gap: 10px;
      border-bottom: 1px solid $color-background-base;

      &:first-child {
        .bus-dynamic__list-item__bus-title {
          padding-top: 0px;
        }
        .bus-dynamic__list-item__bus-status {
          background-color: transparent;
          color: inherit;
          padding: 0;
        }
      }
      &__header {
        border-top: 1px solid $color-background-base;
        border-bottom: 1px solid $color-background-base;
      }
      &__bus-title {
        width: 60%;
        // padding-top: 8px;
      }
      &__bus-status {
        width: 100px;
        flex-shrink: 0;
        display: inline-block;
        text-align: center;
        padding: 8px;
        border-radius: 4px;
        box-sizing: border-box;
        color: white;
        background-color: $color-info;
        &.is-normal {
          background-color: $color-primary;
        }
      }
      &__bus-car {
        position: absolute;
        right: 0;
        // bottom: 0;
        top: 100%;
        transform: translateY(-50%);
        color: $color-danger;
        display: flex;
        align-items: center;
        font-size: $font-sm;
        svg {
          width: 18px;
          height: 18px;
        }
      }
    }
  }
  &__other {
    width: 30%;
  }
}
</style>
