<template>
  <div class="info-header">
    <div class="info-header__main">
      <h2 class="info-header__title">{{ info.title }}</h2>
      <div class="info-tags" v-if="info.tags && info.tags.length">
        <span class="info-tags__item" v-for="tag of info.tags" :key="tag">{{
          tag
        }}</span>
      </div>
      <a
        class="info-header__btn"
        v-if="info.image"
        :href="info.image"
        target="_blank"
        >車站資料</a
      >
    </div>
    <slot></slot>
  </div>
</template>

<script>
import { defineComponent } from "vue";
export default defineComponent({
  name: "info-header",
  props: {
    info: {
      type: Object,
      default: () => ({}),
    },
  },
  setup() {
    // const tabs = [
    //   {
    //     label: "車站資料",
    //     id: "bus-image",
    //   },
    //   {
    //     label: "票價",
    //     id: "ticket-price",
    //   },
    // ];
    return {};
  },
});
</script>

<style lang="scss">
@import "~@/styles/vendor";
@import "~@/styles/mixins-rwd";

.info-header {
  background-color: $color-background-light;
  position: sticky;
  top: 60px;
  z-index: 1;
  @include rwd("tablet") {
    top: 85px;
  }
  &__main {
    padding: 16px;
  }
  &__title {
    font-size: $font-lg;
    padding-bottom: 10px;
  }
  &__btn {
    background-color: $color-assist;
    border-radius: 50px;
    color: $color-light;
    padding: 4px 12px;
    min-width: 60px;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
  }
}
.info-tags {
  &__item {
    display: inline-block;
    color: $color-font-regular;
    background-color: $color-background-base;
    padding: 4px 8px 3px;
    border-radius: 4px;
    margin-right: 4px;
    margin-bottom: 8px;
    font-size: $font-sm;
  }
}
</style>
