<script setup></script>

<template>
  <Suspense>
    <router-view />
  </Suspense>
</template>

<style lang="scss">
@import "~@/styles/index";

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  height: 100%;
  min-height: 100%;
  overflow-y: auto;
  background-color: $color-background-base;
}
* {
  // outline: 1px solid #f00;
}
</style>
